.tb_basket{
}
.tb_basket > thead > tr > th{
  text-transform: uppercase;
  font-weight: bold;
}
.tb_basket > thead{
  background: #f1f4f6;
}
.tb_basket > tbody > tr{
  border-bottom: 1px solid #f1f4f6;
}
.tb_basket > tbody > tr > td, .tb_basket > thead > tr > th{
  padding: 20px;
  vertical-align: top;
}
.mini_basket .basket_pr_info{
  padding: 10px 0px;
}
.basket_pr_info{
  width: 40%;
}
.basket_pr_dt{
  width: 20%;
}
.bpr_img{
  width: 30%;
}
.bpr_inf{
  width: 70%;
  padding-left: 15px;
}
.bpr_name h3{
  margin: 0px;
}
.bpr_options{
  margin-top: 10px;
}
.bpr_opt_item + .bpr_opt_item{
  margin-top: 5px;
}
.bpr_price{
  font-size: 16px;
}
.bpr_edit_delails{
  color: #656a6e;
  text-decoration: underline;
  font-size: 12.5px;
}
.basket_l_grid{
  width: 70%;
}
.basket_r_grid{
  width: 28%;
  margin-left: 2%;
  border: 1px solid #f1f4f6;
}
.bsk_total_wrap{
  padding: 20px;
}
.total_title strong{
  font-size: 20px;
  text-transform: uppercase;
}
.bpr_g_total{
  border-top: 1px solid #f1f4f6;
  margin-top: 20px;
  padding-top: 20px;
}
