.message{
  top: 0px;
  opacity: 0;
  left: -200px;
  width: 200px;
  padding: 10px;
  -moz-border-radius: 0px 3px 3px 0px;
  -webkit-border-radius: 0px 3px 3px 0px;
  -khtml-border-radius: 0px 3px 3px 0px;
  -o-border-radius: 0px 3px 3px 0px;
  -ms-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.56);
  -ms-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.56);
  -o-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.56);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 2001;
}
.show_message{
  left: 0px;
  opacity: 1;
}
.hide_message{
  left: -200px;
  opacity: 0;
}
.message .msg__text{
  max-width: 90%;
  word-break: break-word;
  font-weight: 500;
  letter-spacing: 0.5;
}
.message .close_message{
  right: 5px;
  top: 5px;
}
.msg_danger{
  background: #ff2424;
}
.msg_success{
  background: #129c12;
}
