.post_content{
  background: #fff;
  padding: 15px;
  /* height: 1000px; */
}
.post_title{
  border-bottom: 1px solid #ebebeb
}
.post_content h1, .post_content h2, .post_content h3{
  font-weight: 500;
}
.post_title h1{
  margin-top: 0px;
  font-weight: 500;
}
.p_image{
  position: relative;
  width: 350px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.p_image::before {
  content: '';
  background: #ffffff;
  position: absolute;
  left: -10px;
  top: 0px;
  height: 100%;
  width: 10px;
}
.p_image::after {
  content: '';
  background: #ffffff;
  position: absolute;
  left: -10px;
  bottom: -10px;
  width: 104%;
  height: 10px;
}

.post_cn{

}
.p_ings h3{
  color: #E53935;
}
.p_ing_item{
  background: #F5F5F5;
  padding: 6px 10px;
  margin: 10px 0px;
}
.post_pub_date{
  background: #EEEEEE;
  padding: 10px;
  font-weight: 500;
  color: grey;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.3px;
}
.post_pub_date i{
  color: grey;
  font-size: 12.5px;
}
.post_pub_date + .post_pub_date{
  margin-left: 10px;
}

.other_posts h3{
  margin-top: 0px;
  color: #E53935;
}
.other_posts h3 span{
  color: #E53935;
}
.op_title{
  border-bottom: 1px solid #ebebeb;
}
.op_item{
  width: 175px;
  /* height: 100px; */
  /* border: 1px solid #eee; */
  -moz-box-shadow: 0px 0px 4px rgba(147, 147, 147, 0.41);
  -khtml-box-shadow: 0px 0px 4px rgba(147, 147, 147, 0.41);
  -webkit-box-shadow: 0px 0px 4px rgba(147, 147, 147, 0.41);
  -ms-box-shadow: 0px 0px 4px rgba(147, 147, 147, 0.41);
  -o-box-shadow: 0px 0px 4px rgba(147, 147, 147, 0.41);
  box-shadow: 0px 0px 4px rgba(147, 147, 147, 0.41);
  margin-top: 15px;
}
.op_item + .op_item{
  margin-left: 10px;
}
.opi_image{
  height: 130px;
}
.opi_title, .opi_desc{
  padding: 5px;
}
.opi_title{
  border-bottom: 1px solid #eee;
  height: 47px;
  overflow: hidden;
}
.opi_desc{
  margin-top: 5px;
  font-size: 12.5px;
  height: 61px;
  overflow: hidden;
}

.it_add_comment{
  margin: 15px 0px;
}
.it_add_comment label{
  display: block;
  margin-bottom: 6px;
}
.it_add_comment > input, .it_add_comment > textarea{
  outline: none;
  border: 1px solid #ddd;
  padding: 6px 10px;
  -moz-transition: all .25s ease-out;
  -webkit-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.it_add_comment > input:focus, .it_add_comment > textarea:focus{
  border-color: #b8b8b8;
}

.btn_add_comment{

}

.comments_item{
  margin-top: 25px;
}
.comment_item{
  border-top: 1px solid #ddd;
  padding: 10px 0px;
}
.comment_item{
}
.ci_image{
  width: 40px;
  margin-right: 10px;
}
.ci_desc{
  margin: 5px;
}
.ci_date small{
  color: grey;
  font-size: 12.5px;
}
.cats_content .post_title{
  padding: 20px 10px;
}

.cats_content .post_title h1{
  margin-bottom: 0px;
}

.posts_items{
  padding: 0px 5px;
}

.posts_items .op_item{
  margin: 10px 5px;
  width: 192px;
}

.btns_sw_page{
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding: 20px 10px 20px;
}
.btn_sw_page{
  background: #EEEEEE;
  width: 40px;
  border: 1px solid #E0E0E0;
  padding: 10px;
  margin-left: 5px;
}
.current_page{
  background: #F44336;
  color: #fff;
  border: 1px solid #E53935;
}



.cont_search{
  padding: 0px;
}
.padd_search{
  padding: 15px 10px 5px;
}
.search_pr_cont{
  padding-top: 0px;
  border-bottom: 1px solid #ddd;
}
.search_pr_cont > h1{
  font-size: 16px;
  margin-bottom: 5px;
}
.p_search_input{
  width: 712px;
}
.btn_p_search{
  width: 88px;
  padding: 8px 10px;
  height: 35px;
  line-height: 10px;
}
.p_search_input > input{
  padding: 9px 15px;
  border: 1px solid #ddd;
  height: 35px;
}
.btns_sw_page{
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding: 20px 10px 20px;
}
.btn_sw_page{
  background: #EEEEEE;
  width: 40px;
  border: 1px solid #E0E0E0;
  padding: 10px;
  margin-left: 5px;
}
.current_page{
  background: #F44336;
  color: #fff;
  border: 1px solid #E53935;
}
.cont_search .op_item{
   width: 260px;
}
.cont_search .opi_image{
  height: 175px;
}
.cont_search .opi_title {
  height: 29px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.not_comments{
  border-top: 1px solid #eee;
  padding: 20px 5px 10px;
  font-weight: 500;
}

.cat_title{
  padding: 7px;
  font-size: 20px;
  background: #fff;
}


.title_p_cat h1{
  margin-top: 0px;
  padding: 5px 10px;
  font-size: 22px;
}

.tag_item{
  background: #EEEEEE;
  padding: 3px 10px;
  margin: 10px 10px 10px 0px;
}
.m_tg{
  background: #fff;
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 0px;
}
