.user_menu .list-group-item{
  border: 0px;
  padding: .4rem 1.25rem;
  padding-left: 0px;
}
.user_menu .list-group-item a{
  color: #2e3133;
}
.user_menu .list-group-item:hover a{
  text-decoration: underline;
}
