.c_left_grid{
  width: 1020px;
}
.user_profile_table{
  width: 100%;
}
.user_profile_table tr td{
  padding: 10px;
}
.td_underline{
  text-decoration: underline;
}
.td_underline:hover{
  text-decoration: underline;
}
.l_radio label, .l_radio input{
  display: inline-block;
  margin: 0px;
}
.l_radio input{
  margin-left: 5px;
}
.l_radio + .l_radio{
  margin-left: 20px;
}
.m_ul_cats li .active_menu_item{
  color: #eb722e;
  text-decoration: underline;
  font-weight: 500;
}

h1{
  margin-block-end: 0.67em;
}
.l_img_item .close{
  padding: 0px;
  border: 0px;
}
.ing_item {
  margin: 10px 0px;
  box-shadow: 1px 1px 1px #ccc, 0px 0px 1px #ccc;
  padding: 5px;
}
.ing_name {
  width: calc(100% - 30px);
  line-height: 25px;
}
.ing_items{
  margin-top: 15px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 12px 10px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 12px 20px;
  line-height: 1.5384616;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table>thead>tr>th {
  border-bottom: 1px solid #bbb;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: top;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
  border-top: 0;
}
.table_user_recipes{
  width: 100%;
  margin: 0;
  max-width: none;
  border-collapse: separate;
}
.hidden_actions{
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s ease;
}
.table_user_recipes tbody tr:hover .hidden_actions{
  visibility: visible;
  opacity: 1;
}
.ha_item{
  color: #0073aa;
  font-size: 12px;
  margin-right: 3px;
}
.ur_sort_items li a{
  padding: 10px 0px;
  cursor: pointer;
  color: #1e88e5;
}
.ur_sort_items li a *{
  color: #1e88e5;
}
.ur_sort_items li + li{
  margin: 0px 5px;
}
.ur_sort_items li .active_lnk, .ur_sort_items li .active_lnk *{
  color: #eb722e;
}
.ur_sort_items li{
  color: #1e88e5;
}
.ur_sort_items{
  margin-top: 15px;
}
.padd_search{
  padding: 0px;
}

.m_user_recipe{
  padding: 10px 0px;
}
.m_user_recipe + .m_user_recipe{
  border-top: 1px solid #ebebeb;
  margin-top: 10px;
}
.m_info_ur{
  margin-top: 5px;
}
.m_info_ur table tr td{
  padding: 5px 0px;
}
.no_recipes{
  margin-top: 10px;
}
.ur_mini_img{
  width: 36px;
  margin-right: 5px;
  height: 36px;
}
.count_new_noti {
  display: block;
  padding: 1px 4px;
  border: 2px solid #eb722e;
  border-radius: 12px;
  color: #fff;
  font-size: 9px;
  height: 11px;
  line-height: 11px;
  min-width: 5px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  right: 10px;
  background-color: #eb722e;
  text-align: center;
  position: absolute;
  box-sizing: content-box;
  z-index: 1;
}

.noti_item{
  padding-top: 10px;
  line-height: 22px;
}
.noti_item + .noti_item{
  margin-top: 10px;
  border-top: 1px solid #ddd;
}
.noti_title{
  font-size: 17px;
  max-width: 80%;
}
.noti_date{
  margin-top: 10px;
  color: grey;
}
.clear_nm{
  clear: both;
}

@media screen and (max-width:480px){
  .btn_m_t_10{
    margin-top: 10px;
  }
  .btn_edit_ing + .btn_edit_ing{
    margin-top: 10px;
  }
  .clear_nm{
    clear: none;
  }
  .noti_title{
    float: none;
    max-width: 100%;
  }
  .noti_date{
    float: left;
  }
  .look_noti{
    text-align: right;
    margin-top: 10px;
  }
}
